<div class="forgot-password-container">
    <h2>Forgot Password</h2>
    <p>Enter your email address below to reset your password.</p>
    <form #forgotPasswordForm="ngForm" (ngSubmit)="submitForgotPasswordForm()">
      <div class="form-group">
        <input type="email" id="email" name="email" [(ngModel)]="email" required email placeholder="">
        <label for="email">Email Address</label>
      </div>
      <button type="submit" [disabled]="forgotPasswordForm.invalid">Reset Password</button>
    </form>
    <div class="alternative-actions">
      <a routerLink="/signin">Back to Login</a>
    </div>
  </div>
  