<br><br><br><br>
<h1>Recruitment Statistics</h1>
<div class="container">
  <div class="card">
    <h2>Recruitments Per Manager</h2>
    <canvas id="recruitmentsPerManagerChart" width="400" height="400"></canvas>
  </div>
</div>

<div class="container">
  <div class="card">
    <h2>Open Positions By Location</h2>
    <canvas id="openPositionsByLocationChart" width="400" height="400"></canvas>
  </div>
</div>

<div class="container">
  <div class="card">
    <h2>Average salary</h2>
    <canvas id="averageSalaryRangeChart" width="400" height="400"></canvas>
  </div>
</div>
