body {
  background-color: #f6f5f7;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 350px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

form {
  text-align: center;
}

h1 {
  font-size: 28px; /* Increased font size for better emphasis */
  margin-bottom: 20px;
  color: #333; /* Changed font color for better readability */
}

.input-field {
  margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
  width: calc(100% - 20px); /* Added padding to input width calculation */
  padding: 12px; /* Increased input padding for better input field appearance */
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

button {
  width: calc(100% - 20px); /* Added padding to button width calculation */
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #ff4b2b;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff6142;
}
