.scrum-board-container{
  font-family: Arial;
  color: #555;
  /* -webkit-user-select: none; */
  padding-left: 20% !important;
}
.board-title{
  background-color: #dfe3e6;
  padding: 5px 20px;
}

.flex{
  display: flex;
  flex-direction: row;
}
.scrum-board{
  flex: 1;
  padding:20px;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
}
.scrum-board:first-child{
  flex: 1;
  padding:20px;
  border-left:1px solid #ddd;
}

.scrum-task{
  position: relative;
  display: block;
  padding: 10px;
  border: 1px solid #dddddd;
  border-left: 5px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f1f1f1;
  cursor: all-scroll;
}

.scrum-task.over {
  border-top: 2px solid red;
}

.scrum-task>span{
  color:#333;
  font-weight: bold;
}

.scrum-task-description:not(:empty) {
  margin-top: 10px;
}

.scrum-task-date:not(:empty) {
  margin-top: 10px;
  display: inline-block;
}
.scrum-task-assignee:not(:empty) {
  text-align:right; 
}

.scrum-task-assignee > .assignee:not(:empty) {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    height: 28px;
    line-height: 28px;
    width: 28px;
    background-color: #dfe3e6;
    border-radius: 25em;
    color: #17394d;
    display: inline-block;
    /* -webkit-user-select: none; */
}

.scrum-board-column{
  min-height: 200px;
  padding: 10px;
  height:100%;
}

.pink-background {
  background-color: pink;
}
.green-background {
  background-color: #b0f2b6;
}

.orange-background {
  background-color: #FAC898;
}
.blue-background {
  background-color: #c1e9f2;
}

.admin-header {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.663); /* Feel free to change the background color */
  padding: 30px;
}

.admin-logo {
  height:100px; /* Adjust based on the size of your logo */
  margin-right: 30px;
}









