<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <a routerLink="/admin/projects" class="btn btn-link" style="margin-bottom: 20px;">Retour à la liste des projets</a>
                    <h5 class="card-title">Mise à jour du projet</h5>
                    <div *ngIf="successMessage" class="alert alert-success" role="alert">
                        {{ successMessage }}
                    </div>
                    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                        {{ errorMessage }}
                    </div>
                    <div *ngIf="formSubmitted && projectForm.invalid" class="alert alert-danger" role="alert">
                        Le formulaire est invalide. Veuillez remplir tous les champs correctement.
                    </div>
                    <!-- Formulaire de mise à jour de projet -->
                    <form (ngSubmit)="updateProject(projectForm)" #projectForm="ngForm">
                        <div class="mb-3">
                            <label for="projectName" class="form-label">Nom du projet</label>
                            <input type="text" class="form-control" id="projectName" [(ngModel)]="updatedProject.project_name" name="projectName" required minlength="3">
                            <div *ngIf="formSubmitted && projectForm.controls['projectName'].errors?.['required']" class="text-danger">
                                Le nom du projet est requis.
                            </div>
                            <div *ngIf="formSubmitted && projectForm.controls['projectName'].errors?.['minlength']" class="text-danger">
                                Le nom du projet doit comporter au moins 3 caractères.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="startDate" class="form-label">Date de début</label>
                            <input type="date" class="form-control" id="startDate" [(ngModel)]="updatedProject.project_startdate" name="startDate" required>
                        </div>
                        <div class="mb-3">
                            <label for="endDate" class="form-label">Date de fin</label>
                            <input type="date" class="form-control" id="endDate" [(ngModel)]="updatedProject.projectEnddate" name="endDate" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" [(ngModel)]="updatedProject.project_description" name="description" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="projectManager" class="form-label">Chef de projet</label>
                            <input type="text" class="form-control" id="projectManager" [(ngModel)]="updatedProject.project_manager" name="projectManager" required>
                        </div>
                        <!-- Ajoutez ici d'autres champs du formulaire de manière similaire -->
                        <div class="mb-3">
                            <label for="status" class="form-label">Statut</label>
                            <select class="form-select" id="status" [(ngModel)]="updatedProject.projectStatus" name="status" required>
                                <option value="QUEUED">En attente</option>
                                <option value="COMPLETED">Terminé</option>
                                <option value="CURRENT">En cours</option>
                                <option value="LATE">En retard</option>
                                <option value="CANCELLED">Annulé</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Mettre à jour le projet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
