<p>updatetask works!</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <a routerLink="/admin/task" class="btn btn-link" style="margin-bottom: 20px;">Retour à la liste des
                        tâches</a>
                    <h5 class="card-title">Mise à jour de la tâche</h5>
                    <div *ngIf="successMessage" class="alert alert-success" role="alert">
                        {{ successMessage }}
                    </div>
                    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                        {{ errorMessage }}
                    </div>
                    <div *ngIf="formSubmitted && taskForm.invalid" class="alert alert-danger" role="alert">
                        Le formulaire est invalide. Veuillez remplir tous les champs correctement.
                    </div>
                    <!-- Formulaire de mise à jour de tâche -->
                    <form (ngSubmit)="updateTask(taskForm)" #taskForm="ngForm">
                        <div class="mb-3">
                            <label for="taskName" class="form-label">Nom de la tâche</label>
                            <input type="text" class="form-control" id="taskName" [(ngModel)]="updatedTask.task_name"
                                name="taskName" required minlength="3">
                            <div *ngIf="formSubmitted && taskForm.controls['taskName'].errors?.['required']"
                                class="text-danger">
                                Le nom de la tâche est requis.
                            </div>
                            <div *ngIf="formSubmitted && taskForm.controls['taskName'].errors?.['minlength']"
                                class="text-danger">
                                Le nom de la tâche doit comporter au moins 3 caractères.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="startDate" class="form-label">Date de début</label>
                            <input type="date" class="form-control" id="startDate"
                                [(ngModel)]="updatedTask.task_startdate" name="startDate" required>
                        </div>
                        <div class="mb-3">
                            <label for="endDate" class="form-label">Date de fin</label>
                            <input type="date" class="form-control" id="endDate" [(ngModel)]="updatedTask.task_enddate"
                                name="endDate" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" [(ngModel)]="updatedTask.task_description"
                                name="description" required></textarea>
                        </div>

                        <!-- Ajoutez ici d'autres champs du formulaire de manière similaire -->
                        <div class="mb-3">
                            <label for="status" class="form-label">Statut</label>
                            <select class="form-select" id="status" [(ngModel)]="updatedTask.taskStatus" name="status"
                                required>
                                <option value="NOT_STARTED">Non commencé</option>
                                <option value="IN_PROGRESS">En cours</option>
                                <option value="COMPLETED">Terminé</option>
                                <option value="ON_HOLD">En attente</option>
                                <option value="CANCELLED">Annulé</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Mettre à jour la tâche</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>