.marge-a-gauche {
    margin-left: 300px;
}
/* Style pour les boutons */
.btn {
    margin-bottom: 10px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    color: #070606;
    background-color: #8fb1d6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .btn:hover {
    background-color: #2fa584;
  }
  /* Style pour les icônes */
.icon {
    margin-right: 5px;
    color: #555;
  }
  