<p>projectfront works!</p>
<p>projectfront works!</p>
<!-- ======= Portfolio Section ======= -->
<section id="project" class="portfolio">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Nos Projets</h2>
      <p>Découvrez nos réalisations exceptionnelles. Chez nous, chaque projet est une histoire unique et nous sommes
        fiers de partager notre expertise avec vous.</p>
    </div>


    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="assets/image/1.jpg" class="img-fluid" alt="App 1">
          <div class="portfolio-info">
            <h4>App 1</h4>
            <p>Application</p>
          </div>
          <div class="portfolio-links">
            <a href="assets/image/2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" title="Plus de détails"><i class="bx bx-link"></i></a>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="assets/image/3.jpg" class="img-fluid" alt="App 1">
          <div class="portfolio-info">
            <h4>App 1</h4>
            <p>Application</p>
          </div>
          <div class="portfolio-links">
            <a href="assets/image/1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" title="Plus de détails"><i class="bx bx-link"></i></a>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="assets/image/4.jpg" class="img-fluid" alt="App 1">
          <div class="portfolio-info">
            <h4>App 1</h4>
            <p>Application</p>
          </div>
          <div class="portfolio-links">
            <a href="assets/image/1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" title="Plus de détails"><i class="bx bx-link"></i></a>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="assets/image/5.jpg" class="img-fluid" alt="App 1">
          <div class="portfolio-info">
            <h4>App 1</h4>
            <p>Application</p>
          </div>
          <div class="portfolio-links">
            <a href="assets/image/1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" title="Plus de détails"><i class="bx bx-link"></i></a>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="assets/image/6.jpg" class="img-fluid" alt="App 1">
          <div class="portfolio-info">
            <h4>App 1</h4>
            <p>Application</p>
          </div>
          <div class="portfolio-links">
            <a href="assets/image/1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" title="Plus de détails"><i class="bx bx-link"></i></a>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="assets/image/imenn.jpg" class="img-fluid" alt="App 1">
          <div class="portfolio-info">
            <h4>App 1</h4>
            <p>Application</p>
          </div>
         
        </div>
      </div>

      <!-- Ajoutez vos autres éléments de portfolio avec les images et les détails correspondants -->

    </div>

  </div>
  <div class="chart-container">
    <canvas #chartCanvas width="400" height="200"></canvas>
  </div>
  
<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
  <div class="container">

    <div class="row" data-aos="zoom-in">
      <div class="col-lg-9 text-center text-lg-start">
        <h3>Prêt à passer à l'action ?</h3>
        <p>Nous sommes prêts à vous accompagner dans votre prochain projet. Contactez-nous dès aujourd'hui pour
          commencer à transformer vos idées en réalité.</p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <!-- <a class="cta-btn align-middle" href="#">Contactez-nous</a> -->
        <a class="cta-btn align-middle" routerLink="/contact">Contactez-nous</a>

      </div>
    </div>

  </div>
</section><!-- End Cta Section -->