<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-xr7V8hPbAe6gV5FgbvVG66PTKKwIRLFqnvkgzHVLNNc7eu8YeFvzvXNPxdh7ey6MNMn4rEQDKHaBvWzY/SGZ3w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container prod py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow mb-4">
        <div class="card-body">
          <h3 class="card-title mb-4" style="color: #6922cd; font-size: 1.5rem; font-weight: bold; text-transform: uppercase; border-bottom: 2px solid #4524c8; padding-bottom: 10px;">Add a New Product </h3>
          <!-- <h2 class="card-title text-center mb-4">Add a New Product</h2> -->
          <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="title" class="form-label required">
                <i class="fas fa-shopping-bag fa-fw purple-icon"></i> Product Name:
              </label>
              <input formControlName="title" class="form-control" id="title" placeholder="Enter product title">
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="price" class="form-label">
                  <i class="fas fa-tag fa-fw purple-icon"></i> Price:
                </label>
                <input formControlName="price" type="number" class="form-control" id="price" placeholder="0">
              </div>
              <div class="col-md-6 mb-3">
                <label for="stock" class="form-label">
                  <i class="fas fa-cubes fa-fw purple-icon"></i> Initial Stock:
                </label>
                <input formControlName="stock" type="number" class="form-control" id="stock" placeholder="0">
              </div>
            </div>
            <div class="mb-3">
              <label for="reference" class="form-label">
                <i class="fas fa-barcode fa-fw purple-icon"></i> Product Reference:
              </label>
              <input formControlName="reference" class="form-control" id="reference" placeholder="Unique product reference">
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">
                <i class="fas fa-file-alt fa-fw purple-icon"></i> Add Description:
              </label>
              <textarea formControlName="description" class="form-control" id="description" rows="3"></textarea>
            </div>

            <div class="mb-3">
              <label for="image" class="form-label">
                <i class="fas fa-image fa-fw purple-icon"></i> Image URL:
              </label>
              <input type="file" id="image" class="form-control" (change)="uploadFile($event)" accept="image/*" required aria-label="Upload Image" />
            </div>
            
            <!-- <div class="mb-3">
              <label for="production" class="form-label">
                <i class="fas fa-industry fa-fw purple-icon"></i> Production ID:
              </label>
              <select formControlName="production" class="form-control" id="production">
                <option value="">Select Production ID</option>
                <option *ngFor="let production of productions" [value]="production.productionId">{{ production.productionId }}</option>
              </select>
            </div> -->
            
            
            <div class="form-group">
              <label for="productionId">Production:</label>
              <select formControlName="productionId" id="productionId" class="form-control">
                <option value="" disabled selected>Select Production</option>
                <option *ngFor="let production of productions" [value]="production.productionId">{{ production.productionId }}</option>
              </select>
            </div>
            



            <div class="mb-3">
              <label for="tva" class="form-label">
                <i class="fas fa-percent fa-fw purple-icon"></i> TVA : (%)
              </label>
              <input formControlName="tva" type="number" class="form-control" id="tva" placeholder="20">
            </div>
            <div class="mb-3">
              <label for="productType" class="form-label">
                <i class="fas fa-list fa-fw purple-icon purple-icon purple-icon"></i> Product Type:
              </label>
              <select formControlName="productType" class="form-control" id="productType">
                <option value="">Select Product Type</option>
                <option value="RAW_MATERIAL">Raw Material</option>
                <option value="SEMI_FINISHED">Semi Finished</option>
                <option value="FINISHED">Finished</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="createdAt" class="form-label">
                <i class="fas fa-calendar-alt fa-fw purple-icon"></i> Creation Date:
              </label>
              <input formControlName="createdAt" type="date" class="form-control" id="createdAt">
            </div>
            <div class="text-center">
              <a href="/admin/product-list" class="btn btn-secondary me-2"><i class="fas fa-arrow-left"></i> Back</a>
              <button type="submit" class="btn btn-primary">Add Product</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .purple-icon {
      color: #6922cd; /* Violet color */
  }
</style>